* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --main_color: #275c53;
    --sec_color: #e2bb53;
    --bg_color: #f5f0ea;
}
.header {
    margin-top: 20px;
}
.search_div {
    position: relative;
    border-radius: 25px;
    padding: 5px 5px 5px 48px;
    border: 1px solid #b1b1b1;
}
.search {
    position: relative;
}
.search .dropdown {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}
.search .dropdown button {
    background-color: transparent;
    border: none;
    border-right: 1px solid #b1b1b1d0;
    padding: 3px;
}
.log_in_btn {
    background-color: transparent;
    color: var(--main_color);
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    transition: ease-out 0.2s;
    font-size: 18px;
    margin: 0 10px;
}
.log_in_btn:hover {
    color: var(--sec_color);
}
.sign_up_btn {
    background-color: var(--main_color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    transition: ease-out 0.2s;
    font-size: 18px;
}
.sign_up_btn:hover {
    background-color: var(--sec_color);
}
.navbar-brand {
    color: var(--main_color) !important;
    font-weight: 800;
    font-size: 30px;
}
.nav .nav-link {
    color: var(--main_color) !important;
}
hr {
    margin: 0.5rem 0;
    /* color: var(--sec_color); */
}
.nav_items a{
    color: #6F6F6F;
}
.iconss{
    font-size: 30px;
    padding: 0 10px;
    margin-top: 5px;
}

/* main section */
.main_sec{
    margin-top: 100px;
}
.settings h4{
    margin-bottom: 12px;
    color: var(--main_color);
}
.settings ul{
    list-style-type: none;
    padding-left: 0;
}

.settings ul li  a{
    text-decoration: none;
    color: var(--main_color);
    position: relative;
    margin-bottom: 8px;
    display: block;
}
.tab-btn{
    display: block;
}
.settings ul li::after{
    content: '';
    height: 0;
    width: 5px;
    position: absolute;
    bottom: -5px; 
    left: 0;
    transform: translateX(-50%);
    background: var(--sec_color);
    transition: height 0.2s;
}
.settings .active {
    color: var(--sec_color);
    font-weight: 500;
    border-left: 4px solid var(--sec_color);
    padding-left: 8px;
    margin-bottom: 8px;
}
.info_txt{
    font-size: 40px;
    color: var(--main_color);
   
}
.info{
    position: relative;
}
.info a{
    text-decoration: none;
    color: var(--sec_color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 12px;  
}
.info button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--sec_color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 12px;
}
.info_details h6{
    color: var(--main_color);
    margin-bottom: 30px;
}
.short_bio textarea{
    width: 100%;
    padding: 10px;
    resize: none;
}
.avarter{
    margin-top: 30px;
}
.avt_img img{
    width: 17%;
}
.bann_img img{
    width: 100%;
}
.img_row{
    margin-top: 15px;
}
.img_btn{
    color: var(--main_color);
    border: none;
    background-color: #fff;
}
.save_btn{
    margin-top: 35px;
}
.custom_btn{
    color: var(--sec_color);
    border: none;
    background-color: var(--main_color);
    padding: 10px 15px;
}
.custom_btn1{
    color: var(--sec_color);
    border: 1px solid var(--sec_color);
    background-color: transparent;
    padding: 9px 20px;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: var(--sec_color);
	outline: 0;
	box-shadow: var(--sec_color);
}
textarea:focus{
    outline: 0;
    box-shadow: var(--sec_color);
    border-color: var(--sec_color);
}
.hide{
    display: none;
}

/* social */
.social{
    margin-top: 100px;
}
.social h6{
    color: var(--main_color);
    margin-bottom: 30px;
}
.iconic{
    font-size: 15px;
    margin-right: 8px;
}

/* footer */

.footer{
    margin-top: 100px;
}

.name h3{
    color: var(--main_color);
}
.itemss{
    display: flex;
}
.itemss li{
    list-style-type: none;
    margin-right: 20px;
}
.itemss a{
    text-decoration: none;
    color: black;
}
.iccn {
	font-weight: 600;
	font-size: 12px;
	margin-right: 4px;
}
hr{
    border: 1px solid #808080;
}
.copyrigt{
    display: flex;
}
ul{
    padding-left: 0;
}
.copyrigt li{
    list-style-type: none;
    margin-right: 10px;
    color: #808080;
}
.copyrigt a{
    text-decoration: none;
    color: #808080;
}
.iconsss{
    display: flex;
}
.iconsss li {
	list-style-type: none;
	font-size: 20px;
	margin: 0px 8px;
}
.iconsss a{
    text-decoration: none; 
    color: #808080; 
}

/* responsive */

@media (max-width:991px) {
    .text_box{
     position: static;
     text-align: center;
     margin-top: 50px;
    }
    
}
@media (max-width:575px)  {
    .maindiv{
        display: inline !important;
        justify-content: center !important;
    }
    .name h3{
        text-align: center;
    }
    .itm-div{
        display: inline;
    }
    .itemss{
        display: inline;
        align-items: center;
        text-align: center;
    }
    .itemss li{
        margin: 5px 0;
    }
    .copyrigt {
        display: inherit;
        flex-wrap: wrap;
    }
}