* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --main_color: #275c53;
    --sec_color: #e2bb53;
    --bg_color: #f5f0ea;
}


.header {
    margin-top: 20px;
}

.search_div {
    position: relative;
    border-radius: 25px;
    padding: 5px 5px 5px 48px;
    border: 1px solid #b1b1b1;
}
.search {
    position: relative;
}
.search .dropdown {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}
.search .dropdown button {
    background-color: transparent;
    border: none;
    border-right: 1px solid #b1b1b1d0;
    padding: 3px;
}
.log_in_btn {
    background-color: transparent;
    color: var(--main_color);
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    transition: ease-out 0.2s;
    font-size: 18px;
    margin: 0 10px;
}
.log_in_btn:hover {
    color: var(--sec_color);
}
.sign_up_btn {
    background-color: var(--main_color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    transition: ease-out 0.2s;
    font-size: 18px;
}
.sign_up_btn:hover {
    background-color: var(--sec_color);
}
.navbar-brand {
    color: var(--main_color) !important;
    font-weight: 800;
    font-size: 30px;
}
.nav .nav-link {
    color: var(--main_color) !important;
}
hr {
    margin: 0.5rem 0;
}

/* hero */

.hero {
    margin-top: 100px;
}
.hero_right {
    width: 100%;
}
.hero_right img {
    width: 100%;
}

.hero_left h1 {
    color: var(--main_color);
    font-weight: 600;

    font-size: 55px;
}
.hero_left h1 span {
    color: var(--sec_color);
}
.hero_left p {
    margin: 35px 0;
    font-size: 20px;
}

.find_btn1 {
    border: 1px solid var(--sec_color);
    margin: 10px 0;
    padding: 13px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    font-weight: 600;
    color: var(--main_color);
    box-shadow: 0 0 20px #eee;
    border-radius: 26px;
    background-color: var(--sec_color);
}

.find_btn1:hover {
    background-color: transparent;
    color: var(--sec_color);
    border: 1px solid var(--sec_color);
    transform: translateY(-6px);
}
.find_btn2 {
    margin: 10px 5px;
    padding: 13px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    font-weight: 600;
    color: var(--bg_color);
    box-shadow: 0 0 20px #eee;
    border-radius: 26px;
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
}
.find_btn2:hover {
    background-color: transparent;
    color: var(--main_color);
    border: 1px solid var(--main_color);
    transform: translateY(-6px);
}
/* for_user */
.for_user {
    margin-top: 100px;
}

.whole_user {
    background-image: url(../img/jun.jpg);

    background-size: 100%;
    padding: 25px;
    border-radius: 16px;
}

.whole_user h1 {
    color: var(--bg_color);
    font-size: 44px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.whole_user p {
    margin-bottom: 70px;
    color: var(--bg_color);
}

.user_box {
    background-color: var(--bg_color);
    border-radius: 16px;
    padding: 30px;
    margin-top: 20px;
    background-image: url(../img/bg.png);
}
.user_box h6 {
    color: var(--main_color);
    font-size: 22px;
}
.user_box a {
    color: var(--main_color);
    text-decoration: none;
    transition: 0.2s;
}
.user_box:hover.user_box a {
    font-size: 19px;
}
/* promo */
.promo {
    margin-top: 100px;
}

.div_img1 img{
    width: 100%;
    margin-top: 150px;
    border-radius: 16px;
}

.div_img img{
    width: 100%;
    border-radius: 16px;
}

.item_box h1{
    font-size: 44px;
    color: var(--main_color);
}

.item_box p{
    font-size: 28px;
    margin-top: 100px;
    color: var(--main_color);
}

/* another */

.another{
    margin-top: 100px;
}
.ant_sec{
    background-color: var(--main_color);
    background-image: url(../img/bg.png);
    border-radius: 16px;
}
.txt_box h1{
    font-size: 60px;
    color: #fff;
    padding: 50px;
}
.weed_box img{
    width: 100%;
    border-radius: 16px;
}
.items{
    margin-top: 100px;
    padding: 20px;
    color: #a9a9a9;
}
hr{
    border: none;
    border-top: 2px solid var(--sec_color);
    height: 5px;
}
/* accordion */
.accordion_sec{
    margin-top: 100px;
}
.accordion_img img {
	width: 100%;
	border-radius: 16px;
}
.accordion-button:focus {
	z-index: 3;
	border-color: var(--main_color) !important;
	outline: 0;
	box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
	color: var(--main_color);
	background-color: var(--bg_color);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-item {
	background-color: #fff;
	border: none;
	margin-bottom: 20px;
}
.accordion-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 1.25rem;
	font-size: 1rem;
	color: var(--main_color);
	text-align: left;
	background-color: #fff;
	border: 0;
	border-radius: 0;
    font-size: 24px;
    border-bottom: 1px solid var(--sec_color);
	overflow-anchor: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.accordion-button:not(.collapsed) {
	color: var(--main_color);
	background-color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-item {
	background-color: #fff;
	border: none;
}
.txt{
    color: var(--main_color);
    border-bottom: 1px solid var(--sec_color);
}
/* popular */
.popular{
    margin-top: 100px;
}
.popular_pro{
    border: 1px solid var(--sec_color);
    border-radius: 16px;
}
.popular_pro img{
    width: 100%;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.cart_info{
    padding: 10px;
}
.fas{
    color: #FFCF52;
    font-size: 20px;
}
.rev{
    font-size: 20px;
    padding-left: 20px;
    font-weight: 500;
}
.pricetxt p{
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 10px;
}
.cstm_btn button{
	margin-top: 15px;
	padding: 5px 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    font-weight: 500;
    color: var(--bg_color);
    box-shadow: 0 0 20px #eee;
    border-radius: 26px;
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
}
.cstm_btn button:hover{
background-color: transparent;
    color: var(--main_color);
    border: 1px solid var(--main_color);
    transform: translateY(-6px);
}


/* lift */
.footer{
    margin-top: 100px;
    background-color: var(--bg_color);
    padding-top: 50px;
}
.navbar-brand2 {
	color: var(--main_color) !important;
	font-weight: 700;
	font-size: 26px;
}
.navbar-brand2{
	text-decoration: none;
}
.content_div a{
        color: var(--main_color);
        text-decoration: none;
        display: block;
}
.social i{
    font-size: 25px;
    padding: 5px;
    transition: .2s;
}
.social i:hover{
    color: var(--main_color);
}


